<mat-toolbar class="sticky-top">
  <div class="d-flex flex-md-row flex-column">
    <span class="mr-3">ITalent</span>
    <a class="link mr-3" [routerLink]="['/profiel']" routerLinkActive="link-active">Profiel</a>
    <a class="link mr-3" [routerLink]="['/studiereis']" routerLinkActive="link-active">Studie Reis</a>
    <a class="link mr-3" [routerLink]="['/care-athon']" routerLinkActive="link-active">Care-athon</a>
    <a class="link mr-3" [routerLink]="['/vpw2019']" routerLinkActive="link-active">VPW 2019</a>
    <a class="link mr-3" [routerLink]="['/innovatieroute']" routerLinkActive="link-active">Activiteit 4</a>
    <a class="link mr-3" [routerLink]="['/reflectie']" routerLinkActive="link-active">Eindreflectie</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>